<div class="container">
    <h1 class="page-header">Reminders</h1>

    <ul class="list-group">
        <li class="list-group-item">
            <h3><strong><%= reminderItem.title %>: </strong></h3>
            <h4>
                <%= reminderItem.description %>
            </h4>

            <div>
                <% if (reminderItem.tags.length !== 0) { %>
                    <h4>Tags:</h4>
                    <% for (tags of reminderItem.tags) { %>
                        <button type="button" onclick="deleteTag()" class="btn btn-primary"><%= tags %></button>
                        <% } %>
                            <% } %>
            </div>
            <div>
                <img src="https://visualpharm.com/assets/449/Alarm-595b40b75ba036ed117d53a8.svg" alt="Alarm Image" style="width:25px;height:25px;display:inline;margin-right:5px;">
                <% 
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'};
            let d = new Date(reminderItem.datetime); 
            let date = d.toLocaleDateString("en-US", options);
        
        %>

                    <% if (reminderItem.datetime) { %>
                        <%= date %>
                            <% } else { %>
                                No reminder time set
                                <% } %>
            </div>

            <h4>Subtasks</h4>
            <ul id="subtask-list" class="list-unstyled checkbox" name="subtasks">

                <% for (let key in reminderItem.subtasks) { %>
                    <li style="padding-left:10px">
                        <label>
                        <% if (reminderItem.subtasks[key] === "1") { %>
                            <input type="checkbox" name="subtasks[<%= key %>]" value="1" class="checkboxes" checked onclick="return false">
                        <% } else { %>
                            <input type="checkbox" name="subtasks[<%= key %>]" value="1" class="checkboxes" onclick="return false">
                        <% } %>
                        <span class=checkedLabel><%= key %></span>
                    </label>
                    </li>

                    <% } %>
            </ul>

            <h4>Completed:
                <% if (reminderItem.completed == true) { %>
                    <span class="label label-success">True</span>
                    <% } else if (reminderItem.completed == false) { %>
                        <span class="label label-danger">False</span>
                        <% } %>
            </h4>

            <a class="btn btn-warning" href=<%="/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

            <form class="deleteForm " method="POST" action=<%="/reminder/delete/" + reminderItem.id %>>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </li>
    </ul>
    <!-- <script>
        deleteTag = () => {
            alert("hello")
        }
    </script> -->

</div>